<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <variable name="layout" value="[${level:uppercase=true:padding=-5}]"/>

    <targets>
        <target name="STDOUT" xsi:type="ColoredConsole"
                layout="${var:layout} ${message}">
            <highlight-row foregroundColor="NoChange" condition="true"/>
            <highlight-word foregroundColor="Red" regex="^\[(?:FATAL|ERROR)\]"/>
            <highlight-word foregroundColor="Yellow" regex="^\[(?:WARN )\]" compileRegex="true"/>
            <highlight-word foregroundColor="Blue" regex="^\[(?:INFO )\]|(?&lt;=\[)\d{2}\/\d{2}(?= )" compileRegex="true"/>
            <highlight-word foregroundColor="Green" regex="(?&lt;= )\d{2}:\d{2}:\d{2}(?=\])" compileRegex="true"/>
        </target>
    </targets>
    <rules>
        <logger writeTo="STDOUT" name="*" minlevel="${var:level:default=Info}"/>
    </rules>
</nlog>
