# Exclude all root files in the directory.
.github/
.gitlab/
.dockerignore
.gitignore
.gitlab-ci.yml
Dockerfile
LICENSE
README.md

# Exclude IDE files created in src.
.idea/

# Exclude build artifacts.
bin/
obj/
