##############################################################################
# https://github.com/github/gitignore/blob/master/Global/JetBrains.gitignore #
##############################################################################
.idea/
.idea_modules/
out/

*.iws
*.iml

####################
# xUnit / Coverlet #
####################
coverage.json

###############
# ImageCaster #
###############
bin/
obj/
