##############################################################################
# https://github.com/github/gitignore/blob/master/Global/JetBrains.gitignore #
##############################################################################
.idea/
.idea_modules/
out/

*.iws
*.iml

####################
# xUnit / Coverlet #
####################
coverage.json

######################
# Visual Studio Code #
######################
.vscode/

###########
# Project #
###########
bin/
obj/
*.user

# Build directory is in project working directory when testing.
build/
